* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.barra {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background-color: white;
    color: black;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

#conteudo {
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 200px; 
    float: left;
    margin: 10px;

}
footer {
    background-color: white;
    color: black;
   padding: 1rem;
    text-align: center;
}

.home {
    text-align: center;
    background-color:white;
    color: black;
}

.img-container {
    padding: 10px;
    
}


/* a partir desse segmento tudo se refere ao sobre*/
.container1 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: black;
    color: white;
    font-size: 100%;
    text-align: justify;
    padding: 40px;
    
}

.texto {
    flex: 1; /* texto do sobre*/
}

img {
    max-width: 50%; /* referente a imagem do sobre*/
    height: auto; /* referente a imagem do sobre*/
    
}

/* a partir desse segmento tudo se refere ao audiovisual*/
.video-container {
    margin-bottom: 20px;
}
.video-caption {
    text-align: center;
    margin-top: 10px;
}

.container2 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: black;
    color: white;
    font-size: 100%;
    text-align: justify;
    padding-right: 60px;
    
}